[Unit]
Description=Fin Service
After=network.target

[Service]
User=henry
Group=www-data
WorkingDirectory=/www/fin
Environment="ENV=prod"
ExecStart=/home/henry/miniconda3/envs/fin/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target